<!DOCTYPE html>
<html>
<head>
  <title>TodoListAppRails</title>
  <%= stylesheet_link_tag    "lists", :media => "all", :type => "text/css" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
